<template>
    <el-form ref="form"
             :disabled="!(user_module_permission['add-banner-update'])"
             :model="form"
             :rules="rules">
        <el-form-item :label-width="formLabelWidth" label="小程序URL" prop="page">
            <el-input v-model="form.page"></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="小程序" prop="app">
            <el-select v-model="form.app" placeholder="请选择小程序">
                <el-option v-for="(val, key) in app_name"
                           :key=key
                           :label="val"
                           :value=key></el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="状态" prop="state">
            <el-radio value="1" v-model="form.state" :label="1">显示</el-radio>
            <el-radio value="2" v-model="form.state" :label="0">隐藏</el-radio>
        </el-form-item>
        <el-form-item>
            <el-col :offset="4" :span="8">
                <el-button
                        type="primary"
                        @click="submitForm()">{{ form.id?'立即更新':'立即添加' }}</el-button>
            </el-col>
        </el-form-item>
    </el-form>
</template>

<script>
    import {Form, FormItem, Input, Upload, Select, Option, Col, Radio} from 'element-ui'
    Vue.use(Form)
    Vue.use(FormItem)
    Vue.use(Input)
    Vue.use(Upload)
    Vue.use(Select)
    Vue.use(Option)
    Vue.use(Col)
    Vue.use(Radio)

    import {mapState, mapMutations, mapActions} from "vuex"

    export default {
        name: "add-banner-state",
        props: ['row'],
        data() {
            return {
                id: null,
            }
        },
        mounted: function() {
            this.$store.dispatch('get_app_name').then(()=> {
                this.$store.dispatch('banner_state/set_form')
            })
        },
        computed: {
            ...mapState({
                'form': state=>state.banner_state.form,
                'rules': state=>state.banner_state.rules,
                'formLabelWidth': state=>state.formLabelWidth,
                'app_name': state=>state.app_name,
                'user_module_permission': state=>state.user.user_module_permission
            }),
        },
        methods: {
            submitForm: function() {
                const _this = this;
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        _this.$store.dispatch('banner_state/add_or_update_banner_state').then(()=>{
                            _this.$message.success('更改成功！');
                            _this.$store.commit('banner_state/set_dialog_visible', false)
                        })
                    } else {
                        _this.$message.error('请填写完整的信息！');
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>