
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.simditor-body{
  max-height: 300px;
  overflow-y: auto;
}
ul li{
  list-style-type: none;
}
.switch-panel li{
  line-height: 40px;
}
.transfer-full-width .el-transfer-panel{
  width: 40%;
}