<template>
    <el-form
            ref="form"
            :disabled="!(user_module_permission['add-banner-update'])"
            :model="form"
            :rules="rules">
        <el-form-item :label-width="formLabelWidth" label="广告描述" prop="title">
            <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="小程序URL" prop="page">
            <el-input v-model="form.page"></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="图片" prop="image_url">
            <el-upload
                    class="avatar-uploader"
                    :limit="1"
                    :action="page_url_prefix+'/uploads_image'"
                    name="fileDataFileName"
                    list-type="picture-card"
                    :headers="headers"
                    :file-list="fileimgs"
                    :on-success="handleSuccess"
                    :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
            </el-upload>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="链接" prop="link">
            <el-input v-model="form.link"></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="类型" prop="type">
            <el-select v-model="form.type" placeholder="请选择类型">
                <el-option label="固定" value="1"></el-option>
                <el-option label="浮动" value="2"></el-option>
                <el-option label="推送" value="3"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="点击次数">
            <el-input v-model="form.hits" disabled></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="小程序" prop="app">
            <el-select v-model="form.app" placeholder="请选择小程序">
                <el-option label="黄金走势猜猜看" value="1"></el-option>
                <el-option label="行情" value="2"></el-option>
                <el-option label="模拟" value="3"></el-option>
                <el-option label="资讯" value="4"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="状态" prop="state">
            <el-radio value="1" v-model="form.state" :label="1">显示</el-radio>
            <el-radio value="2" v-model="form.state" :label="0">隐藏</el-radio>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="顺序" prop="sequence">
            <el-input v-model="form.sequence" type="number"></el-input>
        </el-form-item>
        <el-form-item>
            <el-col :offset="4" :span="8">
                <el-button type="primary"
                           @click="submitForm()">{{btn_msg}}
                </el-button>
            </el-col>
        </el-form-item>
    </el-form>
</template>

<script>
    import {Form, FormItem, Input, Upload, Select, Option, Col, Radio} from 'element-ui'
    Vue.use(Form)
    Vue.use(FormItem)
    Vue.use(Input)
    Vue.use(Upload)
    Vue.use(Select)
    Vue.use(Option)
    Vue.use(Col)
    Vue.use(Radio)

    import {mapActions, mapMutations, mapState, mapGetters} from 'vuex'

    export default {
        name: "add-banner",
        data() {
            return { id: null }
        },
        computed: {
            ...mapState(['headers', 'formLabelWidth']),
            ...mapState({
                'rules': state=> state.banner.rules,
                'form': state=> state.banner.form,
                'user_module_permission': state=> state.user.user_module_permission
            }),
            ...mapGetters({
                'fileimgs': 'banner/fileimgs',
            }),
            btn_msg: function() {
                return this.id ? "立即更新" : "立即添加"
            },
        },
        mounted() {
            if(this.$route.params.hasOwnProperty("id")) {
                this.id = this.$route.params.id;
                if(this.id) this.getDefaultValues()
            }
        },
        methods: {
            ...mapActions({
                'get_banner_info': 'banner/get_banner_info',
                'add_or_update_banner': 'banner/add_or_update_banner'
            }),
            getDefaultValues: function() {
                const _this = this;
                const to_strings = ['app'];

                if(!_this.id) {
                    this.$store.commit('banner/set_default_form')
                }
                else
                    this.get_banner_info(_this.id)
            },
            handleSuccess: function(response, file, file_list) {
                if(response.success) {
                    this.form.image_url = response.file_path
                }
            },
            handleRemove: function() {
                this.form.image_url = null;
            },
            submitForm: function() {
                const _this = this;
                this.$refs['form'].validate((valid) => {
                    if (valid)
                        _this.add_or_update_banner(this.form).then(function(result){
                            _this.$message.success("添加成功");
                            _this.$router.push({path: '/banner-list'});
                        });
                    else _this.$message.error('请填写完整的信息！');
                });
            },
        },
        watch: {
            '$route' (to, from) {
                this.id = to.params.id;
                this.getDefaultValues()
            }
        }
    }
</script>

<style scoped>

</style>