<template>
    <div>
        <el-row>
            <el-col :span="4">
                <el-popover
                        placement="right"
                        width="400"
                        trigger="click">
                    <ul class="switch-panel">
                        <li v-for="(i, k) in columns">
                            <el-switch
                                    v-model="i.show"
                                    :active-text="i.title">
                            </el-switch>
                        </li>
                    </ul>
                    <el-button slot="reference">显示隐藏列</el-button>
                </el-popover>
            </el-col>
            <el-col :span="6">
                <el-radio-group v-model="show_type">
                    <el-radio-button label="3">全部</el-radio-button>
                    <el-radio-button label="1">显示</el-radio-button>
                    <el-radio-button label="0">隐藏</el-radio-button>
                </el-radio-group>
            </el-col>
            <el-col :span="3">
                <el-button
                        :disabled="!user_module_permission['add-banner-state-update']"
                        @click="$store.commit('banner_state/set_dialog_visible', true)">
                    添加广告状态
                </el-button>
            </el-col>
        </el-row>
        <el-table
                ref="tb_banner_state"
                :data="banner_state_list.slice((current_page-1)*per_page, current_page*per_page)"
                stripe
                @sort-change="sort_change"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    sortable
                    :label="columns['id']['title']"
                    v-if="columns['id']['show']"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="page"
                    width="220"
                    :label="columns['page']['title']"
                    v-if="columns['page']['show']">
            </el-table-column>
            <el-table-column
                    prop="state"
                    width="120"
                    sortable
                    :label="columns['state']['title']"
                    v-if="columns['state']['show']">
                <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                        {{ scope.row.state==1?'已显示':'已隐藏' }}
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    width="200"
                    prop="app"
                    :filters="app_filter"
                    :filter-method="filterHandler"
                    :label="columns['app']['title']"
                    v-if="columns['app']['show']">
                <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                        {{ app_name[scope.row.app] }}
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="updated_time"
                    sortable
                    width="180"
                    :label="columns['updated_time']['title']"
                    v-if="columns['updated_time']['show']">
            </el-table-column>
            <el-table-column
                    v-if="user_module_permission['add-banner-state-update'] || user_module_permission['add-banner-state-delete']"
                    label="操作"
                    width="150"
                    fixed="right">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            :disabled="!user_module_permission['add-banner-state-update']"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            :disabled="!user_module_permission['add-banner-state-delete']"
                            :type="scope.row.state?'success':'danger'"
                            @click="handleDelete(scope.$index, scope.row)">{{scope.row.state==1?"隐藏":"显示"}}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                @current-change="pageChange"
                @size-change="sizeChange"
                :current-page="current_page"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <el-dialog title="添加广告开关" :visible.sync="dialog_visible">
            <addBannerState @update_banner_state="update_banner_state" ref="dialog_banner_state"></addBannerState>
        </el-dialog>
    </div>

</template>

<script>
    import addBannerState from '../components/add-banner-state'
    import {Table, TableColumn, Popover, Scrollbar, Row, Col, Dialog, RadioGroup, RadioButton, Pagination} from 'element-ui'
    import {mapActions, mapMutations, mapState, mapGetters} from 'vuex'

    Vue.use(Table)
    Vue.use(TableColumn)
    Vue.use(Popover)
    Vue.use(Scrollbar)
    Vue.use(Row)
    Vue.use(Col)
    Vue.use(RadioGroup)
    Vue.use(RadioButton)
    Vue.use(Pagination)
    Vue.use(Dialog)

    export default {
        name: 'add-banner-state',
        components: {addBannerState},
        computed: {
            ...mapState({
                columns: state=>state.banner_state.columns,
                rules: state=>state.banner_state.rules,
                total: state=>state.banner_state.total,
                per_page: state=>state.banner_state.per_page,
                current_page: state=>state.banner_state.current_page,
                banner_state_list: state=>state.banner_state.banner_state_list,
                app_name: state=>state.app_name,
                user_module_permission: state=>state.user.user_module_permission
            }),
            ...mapGetters(['app_filter']),
            dialog_visible: {
                get() {
                    return this.$store.state.banner_state.dialog_visible
                },
                set(value) {
                    this.$store.commit('banner_state/set_dialog_visible', value)
                }
            },
            show_type: {
                get() {
                    return this.$store.state.banner_state.show_type
                },
                set(value) {
                    this.$store.commit('banner_state/set_show_type', value)
                    this.$store.commit('banner_state/filter_data')
                }
            }
        },
        created() {
            const _this = this;
            this.get_app_name().then(()=>{
                _this.get_banner_state_list();
                _this.$store.commit('banner_state/set_tb', this.$refs.tb_banner_state)
            });
        },
        methods: {
            ...mapActions(['get_app_name']),
            ...mapActions({
                'get_banner_state_list': 'banner_state/get_banner_state_list',
                'update_banner_state': 'banner_state/update_banner_state'
            }),
            sort_change: function(column) {
                this.$store.commit('banner_state/set_sort_col', column.prop)
                this.$store.commit('banner_state/set_sort_order', column.order)
            },
            pageChange: function(page) {
                this.$store.commit('banner_state/set_current_page', page);
            },
            sizeChange: function(size) {
                this.$store.commit('banner_state/set_per_page', size);
            },
            filterHandler: function(value, row, column) {
                const property = column['property'];
                return row[property] == value;
            },
            handleEdit: function(index, row) {
                row['index'] = index;
                console.log(this.app_filter)
                this.$store.commit('banner_state/set_edit_row', row);
                this.$store.dispatch('banner_state/set_form')
                this.$store.commit('banner_state/set_dialog_visible', true);
            },
            handleDelete: function(index, row) {
                const _this = this;
                _this.$store.dispatch('banner_state/set_banner_state_state', {row: row, index: index}).then(()=>{
                    _this.$message.success(row.state===1?'隐藏成功':'显示成功');
                })
            }
        }
    }
</script>

<style scoped>

</style>