<template>
    <div>
        <el-row>
            <el-col :span="6">
                <el-popover
                        placement="right"
                        width="400"
                        trigger="click">
                    <ul class="switch-panel">
                        <li v-for="(i, k) in columns">
                            <el-switch
                                    v-model="i.show"
                                    :active-text="i.title">
                            </el-switch>
                        </li>
                    </ul>
                    <el-button slot="reference">显示隐藏列</el-button>
                </el-popover>
            </el-col>
            <el-col :span="6">
                <el-radio-group v-model="show_type">
                    <el-radio-button label="3">全部</el-radio-button>
                    <el-radio-button label="1">上线</el-radio-button>
                    <el-radio-button label="0">下线</el-radio-button>
                </el-radio-group>
            </el-col>
        </el-row>
        <el-table
                :data="banner_list.slice((current_page-1)*per_page, current_page*per_page)"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="id"
                    :label="columns['id']['title']"
                    v-if="columns['id']['show']"
                    width="60">
            </el-table-column>
            <el-table-column
                    :label="columns['image_url']['title']"
                    v-if="columns['image_url']['show']"
                    width="160">
                <template slot-scope="scope">
                    <img width="140" :src="scope.row.image_url" :alt="scope.row.image_url">
                </template>
            </el-table-column>
            <el-table-column
                    width="180"
                    :label="columns['link']['title']"
                    v-if="columns['link']['show']">
                <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                        <a :href="scope.row.link" target="_blank">{{ scope.row.link.replace("https://", "").replace("http://", "") }}</a>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="title"
                    width="250"
                    :label="columns['title']['title']"
                    v-if="columns['title']['show']">
            </el-table-column>
            <el-table-column
                    prop="page"
                    width="100"
                    :label="columns['page']['title']"
                    v-if="columns['page']['show']">
            </el-table-column>
            <el-table-column
                    prop="sequence"
                    sortable
                    width="90"
                    :label="columns['sequence']['title']"
                    v-if="columns['sequence']['show']">
            </el-table-column>
            <el-table-column
                    prop="hits"
                    width="100"
                    sortable
                    :label="columns['hits']['title']"
                    v-if="columns['hits']['show']">
            </el-table-column>
            <el-table-column
                    prop="state"
                    width="100"
                    sortable
                    :label="columns['state']['title']"
                    v-if="columns['state']['show']">
                <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                        {{ scope.row.state==1?'已上线':'已下线' }}
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    width="150"
                    prop="app"
                    :filters="app_filter"
                    :filter-method="filterHandler"
                    :label="columns['app']['title']"
                    v-if="columns['app']['show']">
                <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                        {{ app_name[scope.row.app] }}
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="created_time"
                    sortable
                    width="180"
                    :label="columns['created_time']['title']"
                    v-if="columns['created_time']['show']">
            </el-table-column>
            <el-table-column
                    prop="updated_time"
                    sortable
                    width="180"
                    :label="columns['updated_time']['title']"
                    v-if="columns['updated_time']['show']">
            </el-table-column>
            <el-table-column
                    v-if="user_module_permission['banner-list-update'] || user_module_permission['banner-list-delete']"
                    label="操作" width="150" fixed="right">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            :disabled="!user_module_permission['banner-list-update']"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            :type="scope.row.state?'success':'danger'"
                            :disabled="!user_module_permission['banner-list-delete']"
                            @click="setState(scope.$index, scope.row)">{{scope.row.state==1?"下线":"上线"}}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                @current-change="pageChange"
                @size-change="sizeChange"
                :current-page="current_page"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>

</template>

<script>
    import {Table, TableColumn, Popover, Scrollbar, Row, Col, RadioGroup, RadioButton, Pagination} from 'element-ui'
    Vue.use(Table)
    Vue.use(TableColumn)
    Vue.use(Popover)
    Vue.use(Scrollbar)
    Vue.use(Row)
    Vue.use(Col)
    Vue.use(RadioGroup)
    Vue.use(RadioButton)
    Vue.use(Pagination)

    import {mapState, mapMutations, mapActions, mapGetters} from 'vuex'

    export default {
        name: "banner-list",
        computed: {
            ...mapState({
                app_name: state=>state.app_name,
                banner_list: state=> state.banner.banner_list,
                current_page: state=>state.banner.current_page,
                total: state=>state.banner.total,
                per_page: state=>state.banner.per_page,
                back_data: state=>state.banner.back_data,
                columns: state=>state.banner.columns,
                user_module_permission: state=>state.user.user_module_permission
            }),
            ...mapGetters([
                "app_filter"
            ]),
            show_type: {
                get() {
                    return this.$store.state.banner.show_type
                },
                set(value) {
                    this.$store.commit('banner/set_show_type', value)
                    this.filte_data()
                }
            },
        },
        created() {
            const _this = this;
            this.get_app_name().then(()=>{
                _this.get_all_banners()
            });
        },
        methods: {
            ...mapActions({
                get_app_name: "get_app_name",
                get_all_banners: "banner/get_all_banners",
                set_banner_state: "banner/set_banner_state"
            }),
            ...mapMutations({
                set_current_page: "banner/set_current_page",
                set_per_page: "banner/set_per_page",
                filte_data: "banner/filte_data"
            }),
            pageChange: function(page) {
                this.set_current_page(page)
            },
            sizeChange: function(size) {
                this.set_per_page(size);
            },
            filterHandler: function(value, row, column) {
                const property = column['property'];
                return row[property] == value;
            },
            handleEdit: function(index, row) {
                this.$router.push({path: '/add-banner/'+row['id']})
            },
            setState: function(index, row) {
                const new_state = 1 - row.state, _this = this, msg = new_state == 0?"删除":"上线";
                this.set_banner_state({id: row.id, state: new_state, index: index})
                    .then((x)=>{
                        _this.$message.success(msg + "成功");
                    }).catch((x)=>{
                        _this.$message.error(msg + "失败");
                    })
            }
        }
    }
</script>

<style scoped>
</style>